@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
a {
    text-decoration: none;
    display: block;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow-x: hidden;
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    margin: 0 auto;
    padding: 0 10%;
    z-index: 100;
    background-color: #000;
}
header .inner {
    display: flex;
}
header .logo {
    width: 12%;
    height: 100px;
    padding: 35px 0px;
    position: relative;
}
header .logo img {
    height: 40px;
}
header .sublogo {
    width: 16%;
    height: 100px;
    padding: 35px 0px;
    position: relative; 
}
header .sublogo p {
    font-size: 1rem;
    top: 30px;
    right: 0;
    color: #fff;
    font-family: 'Pretendard-Medium';
}
header .empty {
    width: 40%;
}
header nav {
    width: 30%;
    height: 100px;
    padding: 45px 0px;
    position: relative;
}
header nav img{
    display: none;
}
header nav ul {
    width: 100%;
}
header nav ul li {
    float: left;
    margin-right: 15%;
    font-size: 1.25rem;
}
header nav ul li:last-child {
    margin-right: 0px;
}
header nav ul li a {
    color: #fff;
    font-family: 'Pretendard-Bold';
    opacity: 45%;
    transition: all ease 1s;
}
header nav ul li a:hover {
    opacity: 100%;
}

/*프로젝트 gnb 선택표시*/
header nav ul li:nth-child(2) a {
    opacity: 100%;
}

/*================main 타이틀================*/

main {
    width: 100%;
    top: 100px;
    z-index: 90;
}
.main {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 2700px; 
    top: 100px;
}
.main .title {
    position: relative;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 280px; /* 리스트와의 간격조정 */
}
.main .title .tit-img {
    /*max-width: 100%;*/
    position: absolute;
    width: 1766px;
    height: 232px;
    right: -5%;
    margin: 0 auto;
}
.main .title .tit-txt {
    position: absolute;
    color: white;
    float: left;
    top: 2%;
    left: 41%;
    text-align: center;
}
.main .title .tit-txt .En-tit {
    font-size: 20px;
    font-weight: 400;
}
.main .title .tit-txt .ko-tit {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
}
.main .title .back-btn {
    position: absolute;
    width: 70px;
    float: left;
    top: 50%;
}
.main .list {
    position: relative;
    width: 100%;
    height: 2200px; /* 리스트 전체 높이 */
    margin: 0 auto;
    left: 0;
} 
.main .list img {
    width: 100%;
    object-fit: cover;
}

/*================첫번째 줄================*/

.main .list-1 {
    position: absolute;
    width: 100%;
    height: 367px;
    display: flex;
}
.main .list-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .list-1 .item-1, 
.main .list-1 .item-2,
.main .list-1 .item-3,
.main .list-1 .item-4 {
    width: 25%;
    height: 367px;
    text-align: center;
    padding-right: 25px;
} 

.main .list-1 .thumb1, 
.main .list-1 .thumb2, 
.main .list-1 .thumb3, 
.main .list-1 .thumb4  {
    width: 100%;
}
.item-4 {
    padding-right: 0;
}

/*==공동txt==*/

.main .item-txt {
    margin-top: 15px;
}

.main .pro-tit {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.main .name {
    color: #858585;
    font-size: 18px;
    margin-top: 3px;
}

/*================두번째 줄================*/

.main .list-2 {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 430px; /*위의 단과의 간격조정*/
}

.main .list-2 .item2-1, 
.main .list-2 .item2-2, 
.main .list-2 .item2-3, 
.main .list-2 .item2-4 {
    width: 25%;
    height: 367px;
    text-align: center;
    padding-right: 25px;
} 

.main .list-2 .thumb5, 
.main .list-2 .thumb6, 
.main .list-2 .thumb7, 
.main .list-2 .thumb8  {
    width: 100%;
}
.item2-4 {
    padding-right: 0;
}


/*================세번째 줄================*/

.main .list-3 {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 860px; /*위의 단과의 간격조정*/
}

.main .list-3 .item3-1, 
.main .list-3 .item3-2, 
.main .list-3 .item3-3, 
.main .list-3 .item3-4 {
    width: 25%;
    height: 367px;
    text-align: center;
    padding-right: 25px;
} 

.main .list-3 .thumb9, 
.main .list-3 .thumb10, 
.main .list-3 .thumb11, 
.main .list-3 .thumb12  {
    width: 100%;
}
.item3-4 {
    padding-right: 0;
}

/*================네번째 줄================*/

.main .list-4 {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 1290px; /*위의 단과의 간격조정*/
}

.main .list-4 .item4-1, 
.main .list-4 .item4-2, 
.main .list-4 .item4-3, 
.main .list-4 .item4-4 {
    width: 25%;
    height: 367px;
    text-align: center;
    padding-right: 25px;
} 

.main .list-4 .thumb13, 
.main .list-4 .thumb14, 
.main .list-4 .thumb15, 
.main .list-4 .thumb16  {
    width: 100%;
}
.item4-4 {
    padding-right: 0;
}

/*================다섯번째 줄================*/

.main .list-5 {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 1720px; /*위의 단과의 간격조정*/
}

.main .list-5 .item5-1, 
.main .list-5 .item5-2, 
.main .list-5 .item5-3, 
.main .list-5 .item5-4 {
    width: 25%;
    height: 367px;
    text-align: center;
    padding-right: 25px;
} 

.main .list-5 .thumb17, 
.main .list-5 .thumb18, 
.main .list-5 .thumb19 {
    width: 100%;
}
.item5-4 {
    padding-right: 0;
}


/*================페이지 올라가기 버튼================*/

.main .list .page-up-btn {
    position: absolute;
    width: 80px;
    float: right;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.main .list .page-up-btn:hover {
    opacity: 1;
}

.main .list .page-up-btn img {
    width: 80px;
    height: 80px;
}

footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    clear: both;
}
/* footer .inner {
    display: flex;
    position: relative;
    overflow: hidden;
} */
footer .icon {
    display: flex;
    animation: marquee 10s linear infinite;
}
footer .icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}
footer .copyright {
    width: 80%;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
}
footer .copyright p {
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    color: #b7b7b7;
}

/*======================모바일=========================*/

@media(max-width: 768px) {
    .sublogo {
        display: none;
    }
    header nav {
        padding-top: 33px;
    }
    header nav ul li {
        display: none;
    }
    header .empty {
        width: 1600px;
    }
    header nav img {
        display: block;
        width: 48px;
        height: 50px;
    }
    .main .title {
        height: 180px; /* 리스트와의 간격조정 */
    }
    .main .title .tit-txt {
        margin: 0 auto;
        position: absolute;
        color: white;
        float: left;
        top: 2%;
        left: 39%;
        text-align: center
    }
    .main .title .tit-txt .En-tit {
        font-size: 16px;
    }
    .main .title .tit-txt .ko-tit {
        margin-top: 4px;
        font-size: 24px;
    }
    .main .title .back-btn img {
        width: 80%;
        top: 30%;
    }
    .main .title .tit-img {
        top: -20%;
        left: -15%;
        width: 100vw;
        height: 20vh;
    }

    .main .item-txt {
        margin-top: 10px;
    }
    
    .main .pro-tit {
        font-size: 18px;
    }
    
    .main .name {
        font-size: 16px;
        margin-top: 5px;
    }
    
    .main .list {
        height: 3550px; /* 리스트 전체 높이 */
    } 

    .main .list-1,
    .main .list-2,
    .main .list-3,
    .main .list-4,
    .main .list-5 {
        flex-wrap: wrap;
    }
    
    .main .list-1 .item-1, 
    .main .list-1 .item-2, 
    .main .list-1 .item-3, 
    .main .list-1 .item-4,
    .main .list-2 .item2-1, 
    .main .list-2 .item2-2, 
    .main .list-2 .item2-3, 
    .main .list-2 .item2-4,
    .main .list-3 .item3-1, 
    .main .list-3 .item3-2, 
    .main .list-3 .item3-3, 
    .main .list-3 .item3-4,
    .main .list-4 .item4-1, 
    .main .list-4 .item4-2, 
    .main .list-4 .item4-3, 
    .main .list-4 .item4-4,
    .main .list-5 .item5-1, 
    .main .list-5 .item5-2, 
    .main .list-5 .item5-3 {
        width: 50%;
    }

    .main .list-1 .item-1, 
    .main .list-1 .item-2,
    .main .list-2 .item2-1, 
    .main .list-2 .item2-2,
    .main .list-3 .item3-1, 
    .main .list-3 .item3-2,
    .main .list-4 .item4-1, 
    .main .list-4 .item4-2,
    .main .list-5 .item5-1, 
    .main .list-5 .item5-2 {
        margin-bottom: -1%;
    }

    .main .list-1 .item-1,
    .main .list-1 .item-3,
    .main .list-2 .item2-1,
    .main .list-2 .item2-3,
    .main .list-3 .item3-1,
    .main .list-3 .item3-3,
    .main .list-4 .item4-1,
    .main .list-4 .item4-3,
    .main .list-5 .item5-1,
    .main .list-5 .item5-3 {
        padding-right: 10px;
    }
    .main .list-1 .item-2,
    .main .list-1 .item-4,
    .main .list-2 .item2-2,
    .main .list-2 .item2-4,
    .main .list-3 .item3-2,
    .main .list-3 .item3-4,
    .main .list-4 .item4-2,
    .main .list-4 .item4-4,
    .main .list-5 .item5-2 {
        width: 50%;
        text-align: center;
        padding-left: 10px;
        padding-right: 0px;
    } 

    .main .list-2 {
        margin-top: 720px; /*위의 단과의 간격조정*/
    }
    .main .list-3 {
        margin-top: 1440px; /*위의 단과의 간격조정*/
    }
    .main .list-4 {
        margin-top: 2160px; /*위의 단과의 간격조정*/
    }
    .main .list-5 {
        margin-top: 2870px; /*위의 단과의 간격조정*/
    }

    .main .list-1 .item-2, 
    .main .list-1 .item-4,
    .main .list-2 .item2-2,
    .main .list-2 .item2-4,
    .main .list-3 .item3-2,
    .main .list-3 .item3-4,
    .main .list-4 .item4-2,
    .main .list-4 .item4-4,
    .main .list-5 .item5-2 { 
        padding-top: 60px;
    }

    footer .icon img {
        height: 50px;
    }
    /* footer {
        margin-top: 1200px;
    } */
    .main .list .page-up-btn img {
        width: 48px;
        height: 48px;
        margin-left: 40px;
    }

    }

@media(max-width: 500px) {

    .main .title .tit-txt {
        margin: 0 auto;
        position: absolute;
        color: white;
        float: left;
        top: 2%;
        left: 33%;
        text-align: center
    }
    .main .title .tit-txt .En-tit {
        font-size: 16px;
    }
    .main .title .tit-txt .ko-tit {
        margin-top: 4px;
        font-size: 24px;
    }
    .main .title .back-btn img {
        width: 80%;
        top: 30%;
    }
    .main .title .tit-img {
        top: -50%;
        left: -50%;
        width: auto;
        height: 30vh;
    }

    .main .item-txt {
        margin-top: 10px;
    }
    
    .main .pro-tit {
        font-size: 14px;
    }
    
    .main .name {
        font-size: 13px;
        margin-top: 5px;
    }
    
    .main .list {
        height: 2550px; /* 리스트 전체 높이 */
    } 

    .main .list-1,
    .main .list-2,
    .main .list-3,
    .main .list-4,
    .main .list-5 {
        flex-wrap: wrap;
    }
    
    .main .list-1 .item-1, 
    .main .list-1 .item-2, 
    .main .list-1 .item-3, 
    .main .list-1 .item-4,
    .main .list-2 .item2-1, 
    .main .list-2 .item2-2, 
    .main .list-2 .item2-3, 
    .main .list-2 .item2-4,
    .main .list-3 .item3-1, 
    .main .list-3 .item3-2, 
    .main .list-3 .item3-3, 
    .main .list-3 .item3-4,
    .main .list-4 .item4-1, 
    .main .list-4 .item4-2, 
    .main .list-4 .item4-3, 
    .main .list-4 .item4-4,
    .main .list-5 .item5-1, 
    .main .list-5 .item5-2, 
    .main .list-5 .item5-3 {
        width: 50%;
    }

    .main .list-1 .item-1, 
    .main .list-1 .item-2,
    .main .list-2 .item2-1, 
    .main .list-2 .item2-2,
    .main .list-3 .item3-1, 
    .main .list-3 .item3-2,
    .main .list-4 .item4-1, 
    .main .list-4 .item4-2,
    .main .list-5 .item5-1, 
    .main .list-5 .item5-2 {
        margin-bottom: -30%;
    }

    .main .list-1 .item-1,
    .main .list-1 .item-3,
    .main .list-2 .item2-1,
    .main .list-2 .item2-3,
    .main .list-3 .item3-1,
    .main .list-3 .item3-3,
    .main .list-4 .item4-1,
    .main .list-4 .item4-3,
    .main .list-5 .item5-1,
    .main .list-5 .item5-3 {
        padding-right: 10px;
    }
    .main .list-1 .item-2,
    .main .list-1 .item-4,
    .main .list-2 .item2-2,
    .main .list-2 .item2-4,
    .main .list-3 .item3-2,
    .main .list-3 .item3-4,
    .main .list-4 .item4-2,
    .main .list-4 .item4-4,
    .main .list-5 .item5-2 {
        width: 50%;
        text-align: center;
        padding-left: 10px;
        padding-right: 0px;
    } 

.main .list-2 {
    margin-top: 500px; /*위의 단과의 간격조정*/
}
.main .list-3 {
    margin-top: 1000px; /*위의 단과의 간격조정*/
}
.main .list-4 {
    margin-top: 1500px; /*위의 단과의 간격조정*/
}
.main .list-5 {
    margin-top: 2000px; /*위의 단과의 간격조정*/
}

footer .icon img {
    height: 50px;
}
footer {
    margin-top: 180px;
}
.main .list .page-up-btn img {
    width: 48px;
    height: 48px;
    margin-left: 40px;
}
}

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 10%;
    z-index: 100;
    position: fixed;
    background-color: #000;
}
header .inner {
    display: flex;
}
header .logo {
    width: 50%;
    height: auto;
    padding: 35px 0px;
}
header .logo img {
    height: 40px;
    float: left;
    margin-right: 3%;
}
header .logo p {
    font-size: 1rem;
    color: #fff;
    font-family: 'Pretendard-Regular';
}
header .navigation {
    width: 50%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
header .navigation .menu-btn {
    display: none;
}
header .navigation .navigation-items a {
    float: left;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: 'Pretendard-Medium';
    margin-left: 50px;
    transition: 0.3s ease;
    opacity: 0.5;
}
header .navigation .navigation-items a:hover {
    opacity: 1;
    font-family: 'Pretendard-Bold';
}
header .navigation .navigation-items a.active {
    opacity: 1;
    font-family: 'Pretendard-Bold';
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}

@media (max-width: 1000px) {
    header {
        height: 70px;
    }
    header .logo {
        width: 50%;
        height: 70px;
        display: flex;
        align-items: center;
    }
    header .logo img {
        width: auto;
        height: 30px;
        float: left;
        margin-right: 0%;
    }
    header .logo p {
        margin-left: 5%;
    }

    header .navigation {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    header .navigation .navigation-items {
        position: fixed;
        top: 0;
        right: -400px;
        width: 400px;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        transition: right 0.3s ease;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 50% 0;
    }
    header .navigation .navigation-items a {
        width: 100%;
        text-align: center;
        margin: 5% 0;
    }
    header .navigation .navigation-items a:first-child {
        margin-top: 0;
    }
    header .navigation .navigation-items a:last-child {
        margin-bottom: 0;
    }
    header .navigation .menu-btn {
        display: block;
        background: url("../img/menu.png") no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        z-index: 999;
    }
    header .navigation .menu-btn:focus {
        outline: none;
    }

    @media (max-width: 805px) {
        header .logo p {
            display: none;
        }
    }
}
