@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: block;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 10%;
    z-index: 100;
    position: fixed;
    background-color: #000;
}
header .inner {
    display: flex;
}
header .logo {
    width: 12%;
    height: 100px;
    padding: 35px 0px;
    position: relative;
}
header .logo img {
    height: 40px;
}
header .sublogo {
    width: 16%;
    height: 100px;
    padding: 35px 0px;
    position: relative; 
}
header .sublogo p {
    font-size: 1rem;
    top: 30px;
    right: 0;
    color: #fff;
    font-family: 'Pretendard-Medium';
}
header .empty {
    width: 40%;
}
header nav {
    width: 30%;
    height: 100px;
    padding: 45px 0px;
    position: relative;
}
header nav ul {
    width: 100%;
}
header nav ul li {
    float: left;
    margin-right: 15%;
    font-size: 1.25rem;
}
header nav ul li:last-child {
    margin-right: 0px;
}
header nav ul li a {
    color: #fff;
    font-family: 'Pretendard-Bold';
    opacity: 45%;
    transition: all ease 1s;
}
header nav ul li a:hover {
    opacity: 100%;
}

.main {
    width: 80%;
    height: 100vh;
    /* 높이는 내용에 따라 변경해주세요. */
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    /* overflow-x: hidden; */
}

.main .background {
    width: 100%;
    height: 100%;
    position: relative;
    }

.main .background img {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    object-fit: cover;
}

.slidebox {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin:0 auto;
    position:relative;
    /* padding: 0 5%; */
    }
    
    .slidebox .slidelist {
    position:relative;
    white-space:nowrap;
    overflow:hidden;
    }
    
    .slidebox .slidelist .slideitem {
    font-family: 'pretendard';
    position:relative;
    display:inline-block;
    vertical-align:middle;
    /* background-color:#fff; */
    width:99%;
    transition:all 1s;
    }
    
    .slidebox .slidelist .slideitem > a {
    display:block;
    width: auto;
    position:relative;
    }
    
    .slidebox .slidelist .slideitem > a img {
    max-width:100%;
    }
    
    .slidebox .slidelist .slideitem h3 {
        font-family: 'pretendard';
        color:#fff;
        text-align: center;
        margin-bottom: 15px;
    }

    .slidebox .slidelist .slideitem p {
        margin-top:20px;
        text-align: center;
        font-size: 15px;
        line-height: 23px;
        color: white;
    }
    
    .slidebox .slide-control [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;border-radius:50%;
    cursor:pointer;
    }
    
    .slidebox .slide-control [class*="control"] label.prev {
    left:-50px;
    background: url('../img/left.png') center center / 50% no-repeat;
    }
    
    .slidebox .slide-control [class*="control"] label.next {
    right:-50px;
    background: url('../img/right.png') center center / 50% no-repeat;
    }
    
    [name="slide"] {
        display:none;
    }
    
    #slide01:checked ~ .slidelist .slideitem {
    left:0;
    }
    
    #slide02:checked ~ .slidelist .slideitem {
    left:-100%;
    }
    
    #slide03:checked ~ .slidelist .slideitem {
    left:-200%;
    }
    
    .slide-control [class*="control"] {
    display:none;
    }
    
    #slide01:checked ~ .slide-control .control01 {
    display:block;
    }
    
    #slide02:checked ~ .slide-control .control02 {
    display:block;
    }
    
    #slide03:checked ~ .slide-control .control03 {
    display:block;
    }

@media (max-width: 768px) {

    .main {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    header {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        padding: 0 10%;
        z-index: 100;
        position: fixed;
        background-color: #000;
    }

    header .inner {
        display: flex;
    }
    
    header .logo {
        width: 50%;
        height: auto;
        padding: 35px 0;
    }
    
    header .logo img {
        height: 40px;
        float: left;
        margin-right: 3%;
    }
    
    header .logo p {
        font-size: 1rem;
        color: #fff;
        font-family: 'Pretendard-Regular';
    }
    
    header .navigation {
        width: 50%;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    header .navigation .menu-btn {
        display: none;
    }
    
    header .navigation .navigation-items a {
        float: left;
        color: #fff;
        font-size: 1.25rem;
        text-decoration: none;
        font-family: 'Pretendard-Medium';
        margin-left: 50px;
        transition: 0.3s ease;
        opacity: 0.5;
    }
    
    header .navigation .navigation-items a:hover {
        opacity: 1;
        font-family: 'Pretendard-Bold';
    }
    
    header .navigation .navigation-items a.active {
        opacity: 1;
        font-family: 'Pretendard-Bold';
    }

    .section01 {
        font-family: 'pretendard';
        color:#fff;
        width: 100%;
        text-align: center;
        height: 150px;
        margin: 0 auto;
        /* padding: 0 30%; */
        /* align-content: center; */
    }

    .section01 .title {
        align-content: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .section01 .title h1 {
        font-family: 'pretendard';
        text-align: center;
        font-size: 25px;
    }

    .section01 .intro p {
        text-align: center;
        font-size: 15px;
        line-height: 23px;
    }

    .section02 {
        font-family: 'pretendard';
        color:#fff;
        width: 100%;
        text-align: center;
        height: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile {
        font-family: 'pretendard';
        width:100%;
        height: 0 auto;
        margin: 0 auto;
        padding: 0 28%;
        object-fit: cover;
    }

    .profile .pic {
        width: 300px;
        height: 400px;
        object-fit: cover;
        align-items: center;
    }


    .profile .pic img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        align-items: center;
    }
    .profile .name {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
        color:#fff;
        align-items: center;
        font-family: 'pretendard';
    }

    .profile .name p {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }

    /* .info {
        width: 100%;
        height: 0 auto;
        margin: 0 auto;
    } */

    .info .icon{
        width: 40px;
        height: 40px;
        float:left;
        margin-left:40px;
        margin-right: 15px;
    }

    .info .icon img {
        width:100%;
        height: 40px;
        object-fit: cover;
    }

    .info .sns {
        font-family: 'pretendard';
    }

    .info .sns p {
        font-size: 14px;
        line-height: 22px;
        color:#fff;
        text-align: left;
        margin: 0 auto;
    }

    .line {
        width: 300px;
        border-top: 1px solid #fff;
        opacity: 0.3;
        padding: 0 14%;
        margin: 30px auto 15px;
    }

    .sogam {
        width:100%;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .sogam p {
        color:#fff;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-100%));
        }
    }

    @media (max-width: 1000px) {
        header {
            height: 70px;
        }
        header .logo {
            width: 50%;
            height: 70px;
            display: flex;
            align-items: center;
        }
    
        header .logo img {
            width: auto;
            height: 30px;
            float: left;
            margin-right: 0;
        }
    
        header .logo p {
            margin-left: 5%;
        }

        header .navigation {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: right;
        }
    
        header .navigation .navigation-items {
            position: fixed;
            top: 0;
            right: -400px;
            width: 400px;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            transition: right 0.3s ease;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 50% 0;
        }
    
        header .navigation .navigation-items a {
            width: 100%;
            text-align: center;
            margin: 5% 0;
        }
    
        header .navigation .navigation-items a:first-child {
            margin-top: 0;
        }
    
        header .navigation .navigation-items a:last-child {
            margin-bottom: 0;
        }
    
        header .navigation .menu-btn {
            display: block;
            background: url("../img/menu.png") no-repeat;
            background-size: 30px;
            background-position: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: 0.3s ease;
            z-index: 999;
        }
    
        header .navigation .menu-btn:focus {
            outline: none;
        }

        @media (max-width: 805px) {
            header .logo p {
                display: none;
            }
        }
    }

    .profile {
        width: 100%;
        padding: 0 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.butten {
    width: 50px;
    height: 0 auto;
    margin: 0 10%;
    /* position: fixed; */
    z-index: 100;
}
.butten p{
    width: 50px;
    margin: 10%;
    font-size: 14px;
    font-family: 'pretendard';
    text-align: left;
    font-style: none;
    color: white;
}

.profile {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subject {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}
footer .inner {
    overflow: hidden;
}
footer .icon {
    display: flex;
    width: 100%;
    height: auto;
    animation: marquee 10s linear infinite;
}
footer .icon img {
    width: 100%;
    height: auto;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}
footer .copyright {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 10%;
}
footer .copyright p {
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    color: #b7b7b7;
}
